<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    </head>
    <body>

        <img src="img/kittie.jpeg">
        <img src="img/bosss.jpeg">
        
        <h1>Signup</h1>
        <div id="form_container">
        <form name="signup">
            <input type="email" id="email" placeholder="Email"><br><br>
            <input type="text" id="username" placeholder="Username"><br><br>
            <input type="password" id="password" placeholder="Password"><br><br>
            <input type="password" id="confirm_password" placeholder="Confirm Password"><br><br>
            <p>Profile Photo (Optional)</p>
            <input type="file" id="profile_pic" accept="image/*">
            <img id="profile_preview" src="#" alt="Profile Preview" style="display:none; max-width:200px;"><br><br>
            <input type="button" id="button" value="SIGNUP" onclick="yaz()"><br><br>
            <div id="message"></div>
        </form>
        </div>

        <script src="signup.js"></script>

    </body>
</html>